//Initial setting
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

// utility
.container70 {
    width: 70%;
    margin: 0 auto;
  }


//  style jumbotron

.jumbotron {

    .jumbotron-top {
        height: 325px;
        background-image: url("/images/jumbotron.jpg");
        background-size: cover;
    }
    
    
    
    
    
    .container-jumbo {
    
        min-height: 80px;
        font-weight: 1000;
        color: white;
        background-color: hsl(0deg 0% 11%);
        padding-top: 30px;
        position: relative;
    
        .d-flex-cards {
            padding: 20px 0;
            display: flex;
            flex-wrap: wrap;
        }
        
        .d-flex-center {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .pb-30 {
            padding-bottom: 30px;
        }
        
        .text-box {
            background-color: hsl(209deg 98% 49%);
            padding: 10px 70px;
            font-size: 12px;
        }
        
        .title {
            background-color: hsl(209deg 98% 49%);
            position: absolute;
            top: 0;
            left: 225px;
            transform: translateY(-50%);
            padding: 10px 15px;
        }
        
        .card-rf {
            width: calc(100% / 6);
            color: white;
            font-weight: normal;
            font-size: 12px;
            text-transform: uppercase;
            padding-bottom: 50px;
        
            img {
              max-width: 75%;
            }
        
            a {
                text-decoration: none;
                color: #fff;
                text-transform: uppercase;
            }
        }
        
    }
}



// @import '_header';
@import '_footer';

